.textbox {
    background: #bfcedc;
    border-top: #7f9db9 1px solid;
    border-left: #7f9db9 1px solid;
    border-right: #7f9db9 1px solid;
    border-bottom: #7f9db9 1px solid;
    font-family: "宋体", "Verdana", "Arial", "Helvetica";
    font-size: 12px;
    text-align: LIFT;
}
